h1{
    text-align: center;
    font-weight: bolder;  
    font-size: 30pt;  
}

.centerit{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

p{
    max-width: 70%;
    min-height: 200px;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}

.radio{
    font-size: 13pt;
    padding-top: 5px;
}

button{
    font-size: 15px;
    border-radius: 50px;
    padding: 10px;
}
